body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.landing-page {
  padding: 0px 2.5%;
  height: 100vh;
  flex: 1;
}
.navbar {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: sticky;
}

.logo {
  height: 100px;
  width: auto;
  justify-self: center; /* Center the logo initially */
  transition: justify-self 0.3s ease; /* Add transition for smooth movement */
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #2f8d46;
  color: white;
}

.menu-toggle {
  display: none;
  margin-top: 10px; /* Add margin to the top of the menu toggle button */
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50%;
}
.content-left {
  padding: 20px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-left h4 {
  margin-bottom: 5px;
}
.content-left h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.content-left p {
  font-weight: 500;
}
.content-left-text {
  padding: 10px;
  max-width: 800px;
}
.content-right {
  padding: 10px;
}
.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeinup 1s forwards 1.2s ease-out;
}

.content-right img {
  display: block;
  margin-right: 0;
  width: 350px;
  height: auto;
}
.second-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.second-div img {
  height: 300px;
  width: auto;
}
.second-page {
  padding: 0px 2.5%;
  flex: 1;
  text-align: center;
}
.second-page h2 {
  margin-top: 50px;
  font-weight: 500;
}
.Council-members .faculty-members {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.f-member {
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.f-member:hover {
  transform: scale(1.1);
}

.f-member img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  background-color: black;
}

.f-member .name {
  color: black;
  margin-top: 10px;
  font-weight: 700;
}

.f-member .post {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.third-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Stack the content vertically */
  flex: 1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url("images/bg/Events-bg-done.png");
  background-size: cover; /* Ensure the background image covers the entire container */ /* Center the background image */
  height: 100vh;
}
.events {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.last-page {
  flex: 1;
}
.in {
  padding: 10px;
  margin-bottom: 250px;
}
.eve-logo {
  margin-top: 30px;
}
@media (max-width: 1063px) {
  .landing-page {
    max-width: fit-content;

    padding: 0px 5%;
  }
  .navbar {
    display: block;
    margin: 0px 10px 0 0;
    position: static;
  }
  .navbar-links {
    display: none;
    flex-direction: column;
    text-align: center;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 22.5%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: 2;
    background-color: rgb(50, 42, 42);
  }
  .navbar-links a {
    width: 60%;
    color: white;
    top: 40%;
    border-radius: 0;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    position: fixed;
    left: 5%;
    top: 0%;
    margin-top: 40px; /* Add margin to the top of the menu toggle button */
    margin-bottom: 20px; /* Add margin to the bottom of the menu toggle button */
  }

  .menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
    z-index: 3;
  }
  .navbar img {
    margin-left: 35%;
    margin-bottom: 20px;
  }
  .menu-toggle.active ~ .navbar-links {
    display: flex;
    opacity: 1;
    align-items: center;
    width: 60%;
    padding: 2%;
    position: fixed;
    /* Adjust top and left based on the current scroll position */
    top: calc(50% + 10px);

    transform: translate(-50%, -50%);
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .content-left,
  .content-right {
    flex: 1;
    text-align: center;
    margin: 0 auto;
  }
  .content-left-text {
    max-width: fit-content;
  }
  .content-right img {
    max-width: 100%;
  }
  .second-div img {
    width: 100%;
    height: auto;
  }
  .content {
    grid-template-columns: 1fr;
  }

  .content-left,
  .content-right {
    flex: 1;
    text-align: center;
    margin: 0 auto;
  }

  .content-right {
    order: -1; /* Move the image section above the text section */
    max-width: 50%;
    height: auto;
  }
  .content-left h4 {
    margin-bottom: 20px;
  }
  .f-member img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .navbar img {
    margin-left: 26%;
  }
.f-member img {
    width: 150px;
    height: 150px;
  }
}
